<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>SnapStory</title>
    <link rel='stylesheet' href='styles/output.css' />
  </head>
  <body class='min-w-[420px] bg-secondary-100'>

    {{{body}}}

  </body>
</html>